@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

body {
	font-family: 'Alegreya Sans', sans-serif;
	overflow-x: hidden;
	background-color: #4c5553;
	color: azure;
}
#content {
	padding: 15px;
	transition: margin-left 0.8s;
	overflow: hidden;
	width: 100%;
}
.slide a {
	color: azure;
	font-size: 36px;
}
.nav .close {
	position: absolute;
	top: 8px;
	right: 22px;
	margin-left: 50px;
	font-size: 30px;
	color: #ccc;
}
.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color:#ad252369;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.7s;
}
.nav a.item {
	display: flex;
	flex-direction: row;
	padding: 18px 30px;
	font-size: 30px;
	text-decoration: none;
	color: #ccc;
	background-color: #3d3d3d;
	border-top: 1px solid #ccc;
}
.nav .last {
	border-bottom: 1px solid #ccc;
}
.nav a.item:hover {
	color: #fff;
	background-color: black;
	transition: 0.4s;
}
.nav .icon {
	padding-right: 10px;
	font-size: 35px;
}
.nav ul {
	display: flex;
	position: absolute;
	width: 100%;
	margin-top: 50px;
}
.nav ul li {
	list-style: none;
}
.nav ul li a.inline {
	font-size: 26px;
	color: rgba(204, 204, 204, 0.521);
	padding: 6px 5px 3px;
}
.nav ul li a.inline:hover {
	color: black;
}